<%-include('header.ejs')-%>
<style>
    a{
        color:white;
        text-decoration: none;
    }
</style>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">update</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((obj,ind)=>{ %>
        
        <tr>
            <th scope="row"><%= ind %></th>
            <td><%=obj.email %></td>
            <td><%=obj.password %></td>
            <td><button class="btn btn-success"><a href="user/update/<%= obj._id %>"> update</a></button></td>
            <td><button class="btn btn-danger"><a href="/delete">delete</a></button></td>
            
          </tr>
        
        
        
        
      <%})%>
    </tbody>
  </table>

<%-include('footer.ejs')-%>